.login-container {
    margin: 10px auto;
    box-sizing: border-box;
    /* padding: 10px; */
    border-radius: 10px;
    width: 70%;
    background-color:#fff;
    height: calc(100vh - 20px);
    position: relative;
}

.login-form {
    height: 300px;
    background-color: black;
    border-radius: 10px 10px 0 0;
    color: white;
}

.login-form-image {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px 10px 0 0;
}

.login-info {
    margin: 10px auto;
    width: 70%;
    text-align: center;
}

.login-input {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 40px;
}


.login-button-container {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.login-button {
    width: 100%;
    border: none;
    background-color: #1d4e00;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    color: #fff;
    transition-duration: .5s;
}

.login-button:hover{
    background-color: #133300;
}