.modal-header {
    font-family: 'Yekan' !important;
}

.modal {
    direction: rtl !important;
    text-align: right !important;
}

.modal input,
.navigation input {
    text-align: right !important;
}

.remember {
    display: flex;
}

.remember > input,
.remember > span {
    display: inline-block;
}

.remember > span {
    margin-right: 5px;
}